footer{

  margin: 2rem 0rem;

  img{
    width: 48px !important;
  }

  a:not(:last-child){
    margin: 0rem 2rem;
  }

  a:last-child{
    margin-left: 2rem;
  }

  .col:nth-child(2){
    .row{
      justify-content: flex-end;
    }

  }

}