nav{
    display: flex;

    ul{
        list-style-type: none;
        display: inline-flex;
        margin: 0rem 2rem;
        width: 100%;
        align-items: center;
        padding: 0rem;
    }

    li{
        text-align: center;
    }

    .logo{
        width: 18rem;
    }
}