//main site 

.hidden {
    display: none;
}

h3 {
    font-size: $subHeadingFontSize !important;
    font-family: $headingFont !important;
    font-weight: 600;
    text-align: right;
  
}

h2 {
font-size: $subHeadingFontSize;
font-color: $subHeadingColor;
text-align: center;
}

body{
    align-content: center;
    font-family: $mainFont;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} 
  
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    img{
      width: 100%;
    }

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .space {
    margin-bottom: 10px;;
    margin-top: 20px;
  }