//text color
$mainTextColor: black;
$subHeadingColor: #5C5C5C;
$contactFormTextColor: #5C5C5C;
$primaryColor: #022D30;
//text style
$headingFont: 'all-round-gothic', 'futura', 'helvetica neue';
$mainFont: 'helvetica neue', 'arial', sans-serif;
//text size
$mainFontSize: 2rem;
$subHeadingFontSize: 2rem;
$headingFontSize: 4rem;