//text color
$mainTextColor: black;
$subHeadingColor: #5C5C5C;
$contactFormTextColor: #5C5C5C;
//text style
$headingFont: 'all round gothic', 'futura', 'helvetica neue';
$mainFont: 'helvetica neue', 'arial', sans-serif;
//text size
$mainFontSize: 14px;
$subHeadingFontSize: 22px;
$headingFontSize: 35px;